{% extends 'base.html' %}
{% block extracss %}
<style type="text/css">

</style>
{% endblock %}

{% block body %}

	<p class="lead"> Search Schools</p>	
	<form method="get">
	  <div class="form-row align-items-center">
	  	<!--	    
	    <div class="col-auto my-1">
	      <select class="custom-select" name="filter_by">		    
		    <option value="district" selected>District</option>
		    <option value="edu_district">Educational District</option>
		    <option value="sub_district">Sub District</option>
		  </select>
	    </div>
	    -->
	    <div class="col-auto my-1">
	      <input type="text" class="form-control" name="name" placeholder="School Name" required>
	    </div>
	    <div class="col-auto my-1">
	      <button type="submit" class="btn btn-primary">Search school</button>
	    </div>
	  </div>
	</form>
	<hr> 
	{% if q %}
	<div class="alert alert-primary">
		Filtered by: {{q}}
	</div>
	{% endif %}
	<div class="card" style="width: 25rem;">
	  <div class="card-header">
	    Schools ({{schools.count}})
	  </div>
	  <ul class="list-group list-group-flush">
	  	{% for school in schools %}
		<li class="list-group-item"><small>{{forloop.counter}}. </small><a href="{% url 'school_view' school.code %}">{{school.name}} </a></li>
		{% endfor %}
	  </ul>
	</div>

{% endblock %}