{% extends 'base.html' %}
{% block extracss %}
<style type="text/css">

</style>
{% endblock %}

{% block body %}
<div class="container">
	<h1> Schools</h1>
	<br><br>
	<form method="post">{% csrf_token %}
	  <div class="form-row align-items-center">
	  	<!--	    
	    <div class="col-auto my-1">
	      <select class="custom-select" name="filter_by">		    
		    <option value="district" selected>District</option>
		    <option value="edu_district">Educational District</option>
		    <option value="sub_district">Sub District</option>
		  </select>
	    </div>
	    -->
	    <div class="col-auto my-1">
	      <input type="text" class="form-control" name="query" placeholder="District/Sub District">
	    </div>
	    <div class="col-auto my-1">
	      <button type="submit" class="btn btn-primary">Search school</button>
	    </div>
	  </div>
	</form>
	<hr> 

	<br><br>
	<div class="card" style="width: 25rem;">
	  <div class="card-header">
	    Schools
	  </div>
	  <ul class="list-group list-group-flush">
	  	{% for school in schools %}
		<li class="list-group-item"> <a href="{% url 'school_view' school.code %}">{{school.name}} </li>
		{% endfor %}
	  </ul>
	</div>
</div>
{% endblock %}